@import "~normalize.css";

body {
  // font-family: 'Lato', sans-serif;
  // font-size: 16px;
  // line-height: 1.5;
  // color: rgba(0, 0, 0, 0.65);
  // background-color: $color-off-white;
  background: url('./weather.jpeg') no-repeat fixed center;

  ::-webkit-scrollbar {
    width: 12px;
    margin: 2px 0;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}

.loading {
  text-align: center;

  i {
    margin: 10rem auto;
    color: $color-dark-grey;
  }
}

.wxicon {
  font-weight: 500;
}
